@page
@model time_stacc_alpha_0_02.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<div class="container1">
    <form method="post" name="myemailform" action="action_page.php">

        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">

        <label for="email">Email</label>
        <input type="text" id="email" name="emailaddress" placeholder="Valid Email..">

        <label for="country">Country</label>
        <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
            <option value="other">Other</option>
        </select>

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Send Form">

    </form>
</div>
