@page
@model time_stacc_alpha_0_02.Pages.Shared.DonateModel

@{
    ViewData["Title"] = "Donate";
}

 
<h1>Donate</h1>

<p>
    This web app is made possible with donations from people like you. Please consider donating for using this service.
</p>

<p>
    <button onclick="window.location.href = 'https://www.paypal.me/legittommyloy';">PayPal.Me</button>
</p>
