@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please bear with us. This application is in development.</p>
    <p></p>
</div>

<h2>Functionality</h2>
<p></p>
<p>This application allows you to set a series of timers that will run back to back, separated by an audible tone.</p>

<h2>Purpose</h2>
<p></p>
<p>The main purpose of this is to allow educators, therapists or anyone who needs it, to be able to utilize visual and audible task management for children with special needs.</p>
