@page
@model time_stacc_alpha_0_02.Pages.SuccessModel
@{
    ViewData["Title"] = "Success";
}

<h1>Contact Submitted!</h1>

<p>
    Thank you so much for your input!
</p>
<p>

</p>
<p>
    We will get back with you as soon as we can!
</p>