@page
@model time_stacc_alpha_0_02.Pages.Shared.TimerModel

@{
    ViewData["Title"] = "Timer";
}


<h1>Timer Page</h1>

<p>
    <a asp-page="Create Timer">Create Timer</a>
</p>

<!-- Display the countdown timer in an element -->
<p id="countdown"></p>
