@page
@model time_stacc_alpha_0_02.Pages.Shared.TimerModel

@{
    ViewData["Title"] = "Timer";
}


<h1>Timer Page</h1>

<button class="open-button" onclick="openForm()">Create New Timer</button>

<div class="form-popup" id="myForm">
    <form class="form-container" method="post">
        <h1>Set Time</h1>

        <label for="time"><b>Set Time (Hours Min Sec)</b></label>
        <input type="text" placeholder="000 00 00 .." name="time" required>

        <button type="submit" class="btn">Create</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
    </form>
</div>

<script src="~/js/TimerForm.js"></script>

<!-- Display the countdown timer in an element -->
<p id="countdown"></p>
